# Deployer/Owner Private Key
OWNER_PRIVATE_KEY=

# RPC Endpoints
SEPOLIA_RPC_URL=

# Verification
ETHERSCAN_API_KEY=

# echoRank Ecosystem Addresses (Sepolia)
REGISTRY_ADDRESS=0x7Ba70C5bFDb3A4d0cBd220534f3BE177fefc1788
FACTORY_ADDRESS=0x1D23352390FfA1634D5eE80ebD2c5C217250d8B9
IMPLEMENTATION_ADDRESS=0xD18c88a9102cb61eE2361240854b83e4E6D91539